.navbar{
	.search__inner{
		> form {
			> input{
				max-width: 500px;
			}
		}
		flex: 3;

	}
	.navbar-nav-scroll{
		flex: 1;
	}
	
}
.sidebar__component{
	a{
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		color: green;
	}
}