// Global styles
body {
	h1{
		font-size: 60px;
	}
	h2{
		font-size: 48px;
	}
	h3{
		font-size: 36px;
	}
	h4{
		font-size: 30px;
	}
	h5{
		font-size: 24px;
	}
}

.page404--content--wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
	gap: 10px;
}
.cast__page{
	.cast__page--top-section{
		margin-top: 50px ;
		padding: 50px;
		text-align: center;
		h1{
			margin-bottom: 30px;
		}
	}
}
.account-settings__page{
	.edit__settings--wrapper{
    	filter: drop-shadow(0.2rem 0.55rem 0.55rem rgba(0, 0, 0, 0.2));
		margin-top: 50px ;
		padding: 50px;
		min-height: 300px;
		.text--content__wrapper{
			text-align: center;
		}
		.button__wrapper{
			button {
				width: 33%;
				min-width: 200px;
			}
		}

		.user-data__overview{
			margin-top: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			> div {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				.highlighted{
					font-weight: 700;
					font-size: 17px;
				}
				.data-missing{
					color: rgb(190, 123, 0);
				}
			}
		}
	}
}

.movie__page{
	.poster-picture{
		max-width: 100%;
		margin: auto;
		display: block;
	}

	.similar-movie-poster{
		aspect-ratio: 1/1;
		object-fit: cover;
		width: 50%;
	}
}

#root {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}
